<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "My info"
        version     = "1.0.0" >

    <name>My info app</name>
    <description>Info about owner</description>
    <author href="http://saldev.pl" email="mateusz.salawa@gmail.com">
		Mateusz Salawa
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
        
</widget>